{% extends 'buyer/base.html' %}

{% block content %}
<style type="text/css">
.bgimg {
    background-image: url("../media/flower_images/bg12.jpeg");
    height: 900px;
}
</style>
<div class="bgimg">
  <div class="container mb-5 ">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1><strong>Flowers Direct!</strong></h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <strong>
            <br /><br /><br />
            <p>Why people love FlowersDirect
                We know every order is special - and that’s why we treat every order like it’s our own!
                
                That’s why Team cares that your flower delivery arrives on time. Why Team cares about sourcing the very best stems for you. Why we send you a video! Why you get a text when it’s there! Why the Customer Service team go the extra mile if something’s not perfect!
                
                Trust us for those important days - the birthday flowers, anniversary flowers, celebration flowers or sympathy. We care as much as you!</p>
            <p>All our bouquets are handcrafted by skilled florists all over the UK & Ireland. No production lines. No factories. When you hit order, that order zooms to someone who puts love, care and skill into a one-off creation for your special someone.</p>
            <p>The person you’re sending to is a one-off, so shouldn’t their gift be too? That’s why each of our bouquets is bespoke, made just for them and the occasion – and you can even send special requests to their florist, to make their blooms even more personal.</p>
        </strong>
        </div>
    </div>
</div>  
</div>

{% endblock content %}