{% extends 'buyer/base.html' %}

{% block content %}
<style type="text/css">
.bgimg {
    background-image: url("../media/flower_images/bg12.jpeg");
    height: 850px;
}
</style>
<div class="bgimg">
    <div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center fw-bold">
            <h1 class="fw-bolder">Online Flowers Delivery Service Portal</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            <h2>Place an Order!</h2>
            <a href="{% url 'order' %}" class="btn btn-outline-primary">Order Now!</a>
        </div>
    </div>
</div>
</div>

{% endblock content %}